/***** content *****/
.ui-content-padded {
    padding: 0.5rem;
}
.ui-bg-cover{
    background-size: cover;
    background-position: center center;
}
.ui-bg-full{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.ui-full-img{
    display: block;
    width: 100%;
}
.ui-full-img > img{
    display: block;
    width: 100%;
}