/***** 横屏提示 *****/
.body-landscape:after{
    content: '为了更好的体验，请把手机竖过来';
    background-color: rgba(0,0,0,.9);
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 5000;
}
.no-landscape:after{
    display: none;
}
